#
# cmake
#

CMakeCache.txt
CMakeFiles/
Makefile
*.cmake
install_manifest.txt
CMakeLists.txt.user

#
# Editors
#

MPISEACHER.cbp
*.swp
*.autosave
.ycm_extra_conf.pyc

#
# Project
#

bin/
libs/

#
# Tests
#

Testing/
